<div class="content col-md-4 offset-md-1">
    <br>
    <h1><strong> Edit Recipe </strong></h1>
    <%= simple_form_for(@recipe) do |f| %>
    <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :category_list, label: "Category",  collection: $categories%>
        <%= f.input :description %>
        <%= f.input :serving_time %>
        <%= f.input :level_list, label: "Level", collection: $levels%>
        <%#= f.collection_check_boxes :weekly_ingredient_list, Ingredient.all, :id, :name   %>
        <%= f.input :video, placeholder: "Enter a valid YouTube URL name", hint: "Must include ID such as 'Z_GcsR7Q99s&t=3s' at the end like this URL example: https://www.youtube.com/watch?v=Z_GcsR7Q99s&t=3s" %>
        <%= f.input :photo, as: :file %>
    </div>
    <div class="form-actions">
        <%= f.button :submit, class:"btn btn-color" %>
    </div>

    <% end %>
    <br>
    <br>
</div>
