<!-- SMALL BANNER TO INTRODUCE NEXT SECTION -->
<div class="banner-sml">
  <dir class="container sub-banner">
    <h1>Browse through our all-time recipe records</h1>
  </dir>
</div>

<div class="container cards">
  <div class="row">

    <div class="col-xs-12 col-sm-2">
      <div class="position-sticky sticky-form">
        <h1>Recipes</h1>
        <hr>
        <%= simple_form_for :filter, url: recipes_path, method: "GET", remote: true do |f| %>
          <%= f.input :categories, label: "Category",  collection: $categories, as: :check_boxes, onClick: "test"%>
          <%= f.input :levels, label: "Level", collection: $levels, as: :check_boxes  %>
          <%= link_to "Reset", recipes_path  %>
        <% end %>

      </div>
    </div>
    <div class="col-xs-12 col-sm-10">
      <div id="recipes" class="row">
        <%= render 'shared/card_recipe_matt', recipes: @recipes %>
      </div>
    </div>

  </div>
</div>

<%= javascript_pack_tag 'recipe_filter' %>
