<!-- SMALL BANNER TO INTRODUCE NEXT SECTION -->
<div class="banner-sml">
  <dir class="container sub-banner">
    <h1>Browse through our all-time recipe records</h1>
  </dir>
</div>

<div id="recipe_index" class="container d-flex">
  <div class="">
    <h1>Recipes</h1>
    <%= simple_form_for :filter, html: {id:"filter-recipes", "data-controller":"index-form"}, url: recipes_path, method: "GET", remote: true do |f| %>
          <%= f.input :categories, label: "Category",  collection: $categories, as: :check_boxes, onClick: "test"%>
          <%= f.input :levels, label: "Level", collection: $levels, as: :check_boxes  %>
    <% end %>
    <%= link_to "Reset", recipes_path  %>
  </div>

  <div id="recipes" class="cards">
    <%= render 'shared/card_recipe_matt', recipes: @recipes %>
  </div>
</div>

<%= javascript_pack_tag 'recipe_filter' %>
