<div class="container">
  <div class="container">
    <iframe id="ytplayer" class="recipe_video" type="text/html" src="<%= @recipe.video %>"
    frameborder="0" allowfullscreen>
    </iframe>
  </div>


  <div class="container d-flex justify-content-between">
    <div style="width: 70%;">
      <div class="show-info-container my-3">
        <h1><b><%= @recipe.name %></b>
        <% if user_signed_in? && policy(@recipe).edit? %>
          <%= link_to 'edit', edit_recipe_path(@recipe), class: "btn btn-edit" %>       
        <% end %></h1>
        <p><%= @recipe.category_list %></p>
        <h3>Description </h3>
        <p><%= @recipe.description %><p>
      </div>
      <div class="my-4">
        <%= render "shared/card_user_profile_on_recipe" %>
      </div>
    </div>
    <div class="recipe-info-card my-3" style="width: 28%">
      <h3><strong>Recipe Info</strong></h3>
      <p><strong>Serving Time: </strong><%= @recipe.serving_time %> minutes</p>
      <p><strong>Level: </strong><%= @recipe.level_list %></p>
      <p><strong>Ingredients: </strong></p>
      <div class="my-3">
        <% @weekly_ingredients.each do |wi| %>
          <li><%= wi.ingredient.name %></li>
        <% end %>
      </div>
      <div class="d-flex">
        <button class="btn btn-success m-1 btn-sm"><%= link_to 'Order', new_order_path(recipe_id: @recipe.id)%></button>
        <% if favorite_recipe = @recipe.favorite_by(current_user) %>
          <button class="btn btn-info m-1 btn-sm"><%= link_to 'Remove from Cookbook', favorite_recipe_path(favorite_recipe), method: :delete %></button>
        <% else %>
          <button class="btn btn-info m-1 btn-sm"><%= link_to 'Add to Cookbook', favorite_recipes_path(recipe_id: @recipe.id), method: :post %></button>
        <% end %>
        <%
=begin%>
        <% if Rails.env.development? %>
          <% if @done_recipe = @recipe.done_recipe_by(current_user) %>
            <button class="btn btn-info m-1 btn-sm"><%= link_to 'Review', new_done_recipe_rating_path(done_recipe_id: @done_recipe.id)%></button>
          <% else %>  
            <button class="btn btn-info m-1 btn-sm"><%= link_to 'Mark as done', done_recipes_path(recipe_id: @recipe.id), method: :post%></button>
          <% end %>
        <% end %>
        <%
=end%>
      </div>
    </div>
  </div>
</div>