<div class="container">
  <iframe id="ytplayer" class="recipe_video" type="text/html" src="<%= @recipe.video %>"
  frameborder="0" allowfullscreen>
  </iframe>
</div>

<div class="recipe-info2-card">
  <div class="container d-flex">
    <div style="margin-left: 20px; max-width: 500px;">
      <div class="d-flex">
        <h1><b><%= @recipe.name %></b></h1>
        <% if user_signed_in? && policy(@recipe).edit? %>
          <%= link_to 'edit', edit_recipe_path(@recipe), class: "btn btn-edit" %>
        <% end %>
      </div>
      <p><%= @recipe.category_list %></p>
      <h3>Description </h3>
      <p><%= @recipe.description %><p>
      <div class="center">
        <%= render "shared/card_user_profile_on_recipe" %>
      </div>

    </div>
    <div class="recipe-info-card">
      <h3><strong>Recipe Info</strong></h3>
      <p><strong>Serving Time: </strong><%= @recipe.serving_time %> minutes</p>
      <p><strong>Level: </strong><%= @recipe.level_list %></p>
      <p><strong>Ingredients: </strong>
        <div style="mt-1"><% @weekly_ingredients.each do |wi| %>
          <li><%= wi.ingredient.name %></li>
      </p>
        <% end %>

        </div>
      <div class="d-flex">
        <button class="btn btn-success m-1"><%= link_to 'Order', new_order_path(recipe_id: @recipe.id)%></button>
        <button class="btn btn-info m-1"><%= link_to 'Add to Cookbook', new_order_path(recipe_id: @recipe.id)%></button>
      </div>
    </div>
  </div>
</div>








