<%= render "shared/banner", title: @recipe.name, content:@recipe.category_list, show_button: false%>

<div class="row ">
  <div class="col-md-1"></div>
  <div class="col-8 col-md-4">
    <p class="m-5" style="margin-left:200px;"><%= @recipe.description %></p>
  </div>
  <div class="col-md-3"></div>
  <div class="col-2 col-md-2 mt-5 card">
    <h3><strong>Recipe Info</strong></h3>
    <p ><strong>Level: </strong><%= @recipe.level %></p>
    <p ><strong>Serving Time: </strong><%= @recipe.serving_time %></p>
    <p ><%= link_to 'Order Ingredients', new_order_path(recipe_id: @recipe.id), class: "btn btn-color"%></p>
  </div class=" col-md-2">
  <div>

  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-2 col-md-2 mb-5">
    <%= render "shared/card_user", show_button: true%>
  </div>

</div>



<div>
    <p align="center"><iframe id="ytplayer" type="text/html" width="1242" height="524"
    src="<%= @recipe.video %>"
    frameborder="0" allowfullscreen></iframe></p>
</div>


