<div class="center">
  <%= render "shared/card_user_profile" %>
</div>


<div class=" content container-profile col-sm-12" >
  <div class="column col-sm-4">
    <h1><strong>Profile</strong></h1>
    <div style="border-width: 0.5px; border-style: solid; margin-bottom: 50px;"></div>
    <img height="200", width="200" src="<%= @user.photo.attached? ? (cl_image_path @user.photo.key) : (image_path "defaultprofile.png")%>" >
    <%#= simple_form_for(@user) do |f| %>
      <!-- <div class="form-inputs">
        <%#= f.input :photo, as: :file %>
      </div>
      <div class="form-actions">
        <%#= f.button :submit, class:"btn btn-color" %>
      </div> -->
    <%# end %>

    <p><strong>Name: </strong><%= @user.first_name + ' ' + @user.last_name  %></p>
    <p><strong>Email: </strong><%= @user.email %></p>
    <p><strong>Address </strong><%= @user.address %></p>

    <% if user_signed_in? && policy(@user).edit? %>
      <%= link_to 'edit', edit_user_path(@user), class: "btn btn-color" %>
      <%= link_to 'Destroy', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    <% end %>

  </div>
</div>

<!-- SECTION FOR ORDERS THAT THIS USER MADE -->
<h1>Your Order History</h1>

<div>
   <% @orders_user.each do |order| %>
    <!-- TO-DO: Replace hard-coding and get correct weekly ingredient them from records -->
    <!-- <p>Ingedrients set: <%#= weekly_ingredient_list.name %></p> -->
    <p>Ingedrients set: <i><b>Mexican</b></i></p>
    <p>Portions: <%= order.amount_portion %></p>
    <p>Delivery date: <%= order.delivery_date %></p>
  <% end %>
</div>


<!-- SECTION FOR RECIPE CARDS THAT THIS USER CREATED -->

<h1>Your uploaded recipes</h1>

<div class="container cards">
  <div class="row">

      <% @recipes_user.each do |recipe| %>
        <div class="card child-row" style="width: 20rem;">

          <div class="card-recipe-img">
            <% if recipe.photo.attached? %>
                <%= link_to recipe_path(recipe) do %>
                  <%= cl_image_tag recipe.photo.key , class:"card-img-top card-recipe-img"%>
                <% end %>
            <% end %>
          </div>

          <div class="card-body">
            <h5 class="card-title"><%= recipe.name %></h5>
            <p class="card-text"><%= recipe.description_teaser%>...<%= link_to "More details", recipe_path(recipe)%></p>
          </div>

        </div>
      <% end %>

  </div>
</div>
