<!-- BIG BANNER WITH PAGE INTRO -->
<!-- PENDING TASK: Access data for dates -->
<div class="banner-sml">
  <dir class="container sub-banner">
    <h1>This Week's Menu: <%= @weekly_ingredient_list.menu_name %></h1>
    <p>Monday, June 15 - Sunday, June 21</p>
    <!-- <p><%#= @weeklyingredientlist.date %> - <%#= @weeklyingredientlist.date + 6 %> </p> -->
  </dir>
</div>

<!-- CONTAINER FOR WEEK'S INGREDIENTS DISPLAY & ORDER BUTTON -->
<!-- PENDING TASK: DESIGN AND STYLE -->
<!-- PENDING TASK: Add amount to display -->

<div class="banner-2">
  <div class=" content container-profile col-sm-12" >
      <% @weekly_ingredients.each do |wi| %>
        <%= cl_image_tag wi.ingredient.photo.key, height: 100, width: 100, borderradius: 50, crop: :fill if wi.ingredient.photo.attached?%>
        <h3><%= wi.ingredient.name %></h3>
        <p> <%= wi.amount %> - <%= wi.ingredient.unit %></p>
      <% end %>
  </div>

  <%= link_to 'Buy Ingredient Set', new_order_path(recipe_id: @recipe.id), class: "btn btn-color" %>


</div>

<!-- SMALL BANNER TO INTRODUCE NEXT SECTION
<div class="banner-sml">
  <dir class="container sub-banner">
    <h1>See what our chefs have already made with these ingredients</h1>
  </dir>
</div>

<!-- CONTAINER TO DISPLAY RECIPES MADE WITh THIS WEEKS INGREDIENTS -->
<!-- PENDING TASK: GET RECIPES INSTEAD OF DEFAULT CARD -->
<div class="container parent">
  <% 6.times do  %>
    <%= render "shared/card_recipe" %>
    <% end  %>
</div>
