<!-- BIG BANNER WITH PAGE INTRO -->
<div class="banner-sml">
  <dir class="container sub-banner">
    <% if @weekly_ingredient_list.created_this_week? %>
      <h1>This Week's Menu: <i><%= @weekly_ingredient_list.menu_name %></i></h1>
      <p><%= @weekly_ingredient_list.date.at_beginning_of_week.strftime("%A %e %B %Y") %> - <%= (@weekly_ingredient_list.date.at_beginning_of_week + 6.days).strftime("%A %e %B %Y") %> </p>
    <% end %>
  </dir>
</div>

<!-- CONTAINER FOR WEEK'S INGREDIENTS DISPLAY & ORDER BUTTON -->
<div class="banner-2">
  <div class=" content container-profile col-sm-12 justify-content-center" >
    <% @weekly_ingredients.each do |wi| %>
      <ul>
        <%= cl_image_tag wi.ingredient.photo.key, height: 100, width: 100, radius: :max, crop: :fill if wi.ingredient.photo.attached?%>
        <h5><%= wi.ingredient.name %></h5>
        <p> <%= wi.amount %> - <%= wi.ingredient.unit %></p>
      </ul>
    <% end %>
    <p>
      <br>
      <%= link_to 'Buy Ingredient Set', new_order_path(recipe_id: @recipe.id), class: "btn btn-color"%>
    </p>
  </div>

</div>

<!-- SMALL BANNER TO INTRODUCE NEXT SECTION -->
<div class="banner-sml">
  <dir class="container sub-banner">
    <h1>See what our chefs have already made with this week's ingredients</h1>
  </dir>
</div>

<div class="container cards">
  <div class="row">
    <% if @recipe.created_this_week? %>
      <%= render 'shared/card_recipe_matt', recipes: @recipes %>
    <% end %>
  </div>
</div>
