

<% @recipes.take(6).each do |recipe| %>
  <div class="card child-row" style="width: 20rem;">

    <div class="card-recipe-img">
      <% if recipe.photo.attached? %>
        <%= link_to recipe_path(recipe) do %>
          <%= cl_image_tag recipe.photo.key , class:"card-img-top card-recipe-img"%>
        <% end %>
      <% end %>
    </div>

    <div class="card-body">
      <h5 class="card-title"><%= recipe.name %></h5>
       <p class="card-text"><%= recipe.description_teaser%>...<%= link_to "More details", recipe_path(recipe)%></p>
       <button class="btn-color"><%= recipe.category_list %></button>
       <button class="btn-grey"><%= recipe.level_list %></button>
    </div>

  </div>
<% end %>

