

<% @recipes.take(6).each do |recipe| %>
  <div class="card child-row" style="width: 20rem; margin: 20px;">

    <div class="card-recipe-img">
      <% if recipe.photo.attached? %>
        <%= link_to recipe_path(recipe) do %>
          <%= cl_image_tag recipe.photo.key , class:"card-img-top card-recipe-img"%>
        <% end %>
      <% end %>
    </div>

    <div class="card-body">
      <h4 class="card-title"><strong><%= recipe.name %></strong></h4>
      <p style="color: grey; margin: 0px;"><%= recipe.category_list %></p>
      <p class="card-text"><%= recipe.description_teaser%>...<%= link_to "More details", recipe_path(recipe)%></p>
    </div>

  </div>
<% end %>

