<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav justify-content-center">
        <li class="nav-link active navbar-title ">
          <%= link_to "Weekly Menu", "#", class: "font-primary" %>
        </li>
        <li class="nav-link active navbar-title">
          <%= link_to "How it works?", "#", class: "font-primary" %>
        </li>
        <li class="nav-link active navbar-title">
          <%= link_to "Blog", "#", class: "font-primary" %>
        </li>
        <li class="nav-item">
          <%= render 'shared/search' %>
        </li>
        
      <% if user_signed_in? %>
        
        <li class="nav-item active" style="margin-right: 40px; margin-left: 10px;">
          <%= link_to "Add New Recipe", "#", class: "btn btn-light"%>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/valentinesalim", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

