<%= simple_form_for @order, html: {"data-controller":"order-form"} do |f|%>
<div class="container-checkout d-flex justify-content-around">
  
<!-- CARD ON LEFT FOR DELIVERY LOCATION & DATE -->
    
    <div class="form-inputs" style="margin-top: 100px;">
      <p> Cart > Information > Shipping </p>
      <hr>
      <b><%= f.input :delivery_location, label: 'Delivery Location', placeholder: "Enter your address", hint: " Full address incl. name, street, no, postal code, city, country.." %></b>
      <b><%= f.input :delivery_date, label: 'Delivery Date', as: :date, html5: true %></b>
      <%= f.input :recipe_id, as: :hidden, html5: true, input_html: {value: @recipe.id} %>
      <%= f.input :weekly_ingredient_list_id, as: :hidden, html5: true, input_html: {value: @recipe.weekly_ingredient_list.id} %>
      <%= f.input :amount_portion, as: :hidden, input_html: {id:"hidden_amount_portion", value: 1}, wrapper: false, label: false%>
      <%= f.input :total_order_price, as: :hidden, input_html: {class:"order-total", id:"hidden-order-total-price", value: 0}, wrapper: false, label: false%>
    </div>
<!-- CARD ON RIGHT FOR INGREDIENT SET ORDER -->
  <div class="checkout-card">
    <h3><strong>Your ingredients cart</strong></h3>
    <hr>
      <table class="checkout-table">
        <tr>
          <th>Ingredient Name</th>
          <th>Amount</th>
          <th class="amount-column">Unit</th>
        </tr>
        <% @weekly_ingredients.each do |wi| %>
          <tr>
            <td><%= wi.ingredient.name %></td>
            <td><%= wi.amount %></td>
            <td class="amount-column"><%= wi.ingredient.unit %></td>
            
          </tr>
        <% end %>
        <!-- Empty row on purpose -->
        <tr class="blank_row"><td colspan="3"></td></tr>
          <tr style="border-bottom: 2px solid grey;">
            <td><b>Price (per portion): </b></td>
            <td class="amount-column" id="price_per_portion"><%= @recipe.weekly_ingredient_list.price_per_portion %>$</td>
            
          </tr>
          <tr>
            <td><b>Portions: </b></td>
            <td class="amount-column">
              <div class="d-flex justify-content-center align-items-center">
                <div class="toggle-icon" id="minus-btn"><img src="<%=image_path "minus.png" %>" alt="minus button" style="height: 16px"></div>
                <div id="input_amount_portion">1</div>
                <div class="toggle-icon" id="plus-btn"><img src="<%=image_path "plus.png" %>" alt="minus button" style="height: 16px"></div>
              </div>
            </td>
          </tr>
          <tr class="total-row">
            <td>Total: </td>
            <td class="amount-column" id="total-price"><%= @recipe.weekly_ingredient_list.price_per_portion %><td> $ </td></td>
          </tr>
      </table>
      <div class="confirm-order-button" style="margin-top: 10px;">
        <%= f.button :submit, "Confirm Order", class:"btn btn-color" %>
      </div>
  </div>
  
</div>
<% end %>

<%= javascript_pack_tag 'order-calculation' %>
