
<h1><strong>Confirm your order</strong></h1>
    <%= simple_form_for [@order] do |f|%>
<div class="content container-profile col-sm-12" style="justify-content: center" >
    
        <div class="form-inputs">
            <%= f.input :delivery_location, label: 'Delivery Location', placeholder: "Enter where you would like the ingredients to be sent", hint: "Full address incl. name, street, no, postal code, city, country.." %>
            <%= f.input :delivery_date, label: 'Delivery Date', as: :date, html5: true %>
            <%= f.input :recipe_id, as: :hidden, html5: true, input_html: {value: @recipe.id} %>
            <%# should implement javascript for amount_portion %>
            <%= f.input :amount_portion, as: :hidden, html5: true, input_html: {value: 1} %>
            <%= f.input :weekly_ingredient_list_id, as: :hidden, html5: true, input_html: {value: @weekly_ingredient_list.id} %> 
        </div>
        <div class="form-actions">
            
        </div>
    
</div>
<div class="content container-profile col-sm-12" >
    
    <div class="column col-sm-6" style="margin-right: -300px; margin-left: 200px" >
        <img height="250", width="250" src="<%= cl_image_path @recipe.photo.key %>" >
        <h3><strong><%= @recipe.name %></strong></h3>
        <h6><%= @recipe.category %></h6>
    </div>
    <div class="column col-sm-6">
        <div class="card-header test1" style="background-color:#383F51; color: white; "><strong>Ingredient Confirmation</strong></div>
            <h3><strong>Item Quantity</strong></h3>
            <% @weekly_ingredients.each do |wi| %>
            
            <h3><%= wi.ingredient.name %> <%= wi.amount %><%= wi.ingredient.unit %></h3>
            <% end %>
            <h3>Total price (per portion)<%=@recipe.weekly_ingredient_list.price_per_portion%>RMB</h3>
            <div class="alert alert-success">
                Successfull Ordering!
            </div>
            <br>
            <%= f.button :submit, "Confirm", class:"btn btn-color" %>
    <% end %>
        </div>
    </div>
</div>
