
<!-- PAGE HEADER -->
<div class="banner-sml">
  <dir class="container sub-banner">
    <h1>Confirm your order</h1>
  </dir>
</div>

<%= simple_form_for @order, html: {"data-controller":"order-form"} do |f|%>
<div class="container-checkout d-flex justify-content-around">

<!-- CARD ON LEFT FOR DELIVERY LOCATION & DATE -->
  <div class="checkout-card">
    <div class="form-inputs">
      <%= f.input :delivery_location, label: 'Delivery Location', placeholder: "Enter where you would like the ingredients to be sent", hint: "Full address incl. name, street, no, postal code, city, country.." %>
      <%= f.input :delivery_date, label: 'Delivery Date', as: :date, html5: true %>
      <%= f.input :recipe_id, as: :hidden, html5: true, input_html: {value: @recipe.id} %>
      <%= f.input :weekly_ingredient_list_id, as: :hidden, html5: true, input_html: {value: @weekly_ingredient_list.id} %>
      <img src="<%=image_path "delivery.svg" %>" alt="Food delivery scooter woman">
    </div>
  </div>
<!-- CARD ON RIGHT FOR INGREDIENT SET ORDER -->
  <div class="checkout-card">
    <h3><strong>Ingredient Order</strong></h3>

      <table class="checkout-table">
        <tr>
          <th>Ingredient Name</th>
          <th>Unit</th>
          <th class="amount-column">Amount</th>
        </tr>
        <% @weekly_ingredients.each do |wi| %>
          <tr>
            <td><%= wi.ingredient.name %></td>
            <td><%= wi.ingredient.unit %></td>
            <td class="amount-column"><%= wi.amount %></td>
          </tr>
        <% end %>
        <!-- Empty row on purpose -->
        <tr class="blank_row"><td colspan="3"></td></tr>

        <tr>
          <td>Price (per portion): </td>
          <td>$</td>
          <td class="amount-column" id="price_per_portion"><%=@recipe.weekly_ingredient_list.price_per_portion%></td>
        </tr>

        id="price_per_portion"

        <tr>
          <td>Portions: </td>
          <td>number </td>
          <td class="amount-column">
            <div class="d-flex justify-content-center align-items-center">
              <div class="toggle-icon" id="order-amount-minus-btn">-</div>
              <%=f.input :amount_portion, input_html: {class:"order-amount", id:"order_amount_portion", value: 1}, wrapper: false, label: false, disabled: true %>
              <div class="toggle-icon" id="order-amount-plus-btn">+</div>
            </div>
          </td>
        </tr>
        <!-- Empty row on purpose -->
        <tr class="blank_row"><td colspan="3"></td></tr>

        <tr class="total-row">
          <td>TOTAL ORDER PRICE: </td>
          <td>$</td>
          <!-- TO BE IMPLEMENTED with JS:
          total_price = @recipe.weekly_ingredient_list.price_per_portion * @recipe.amount -->
          <td>
            <div class="d-flex justify-content-center align-items-center">
              <%=f.input :total_order_price, input_html: {class:"order-total", id:"order-total-price", onchange:"orderTotalCalculation(this.value)" }, wrapper: false, label: false, disabled: true %>
            </div>
          </td>
         <!-- <td class="amount-column"> xx$</td> -->
        <!-- Empty row on purpose -->
        <tr class="blank_row"><td colspan="3"></td></tr>
        </tr>

      </table>
      <div class=confirm-order-button>
        <%= f.button :submit, "Confirm Order", class:"btn btn-color" %>
      </div>
  </div>

</div>
<% end %>

<%= javascript_pack_tag 'order-portion-amount' %>
<%= javascript_pack_tag 'order-total' %>
