
<div class="column col-sm-6">
  <% @ingredients.each do |ingredient| %>
    <%= cl_image_tag ingredient.photo.key, height: 300, width: 400, crop: :fill if ingredient.photo.attached?%>
    <h3><%= ingredient.name %></h3>
    <!-- PENDING TASK -> access weekly_ingredient.amount correctly. below not working  -->
    <p> <%#= weekly_ingredient.amount %> <%= ingredient.unit %></p>
  <% end %>
    <div class="alert alert-success">
      Successfull Ordering!
    </div>
    <%= link_to 'Back to all recipes', recipes_path, class:"btn btn-primary mt-3"%>
    <%= link_to 'My profile', user_path(current_user.id), class:"btn btn-primary mt-3" %>
  </div>
</div>



