<div class="footer-sticky">
  <%= render "shared/banner" %>

  <div class="container-why">
    <h1 class="m-5"><strong>How it works?</strong></h1>
    <div class="cards-why-container">
      <div class="card-why">
        <img src="<%=image_path "recipe.svg" %>" alt="Astronaut standing next to rocket on the moon.">
        <h3>Select a recipe</h3>
        <p>Meat, Seafood, Vegetarian – we’ve got lots of options to fit your food cravings. </p>
      </div>
      <div class="card-why">
        <img src="<%=image_path "delivery.svg" %>" alt="A group of friends clinking their beer bottles together.">
        <h3>Order ingredients online</h3>
        <p>Order the ingredients you need online, We'll deliver it straight to you! </p>
      </div>
      <div class="card-why">
        <img src="<%=image_path "chef.svg" %>" alt="A woman with her certificate.">
        <h3>Flexible</h3>
        <p>Follow steps to steps video instructions from our fav chefs, anytime and anywhere you want.</p>
      </div>
    </div>
  </div>
    <!-- add 6 recipe cards + 4 chef examples -->
    <!--get code from recipes.index.html  -->
  <div class="container-why">
    <dir class="container sub-banner">
      <h1><strong>Our picks</strong></h1>
      <p style="color: #8D9DA7; font-weight: lighter">Delicious recipe we chose for you</p>
    </dir>
  </div>


  <div class="container">
    <div class="row">
        <%= render 'shared/card_recipe_home', recipes: @recipes %>
    </div>
  </div>


  <div class="container-why">
    <div class="container sub-banner">
      <h1><strong>Meet our Star Chefs!</strong></h1>
    </div>
  </div>

  <div id="home_container" class="container" style="margin-bottom: 100px; padding: 50px;">
    <div class="cards">
      <% 9.times do %>
        <%= render "shared/card_user", show_button: false  %>
      <% end %>
    </div>
  </div>

  <div class="start-cooking" style="margin-bottom: 100px;">
    <img src="https://jchef.com/wp-content/themes/jchef/images/home_start1.png" alt="" class="decoration1">
    <img src="https://jchef.com/wp-content/themes/jchef/images/home_start2.png" alt="" class="decoration2">
    <h2 class="title">Start Cooking</h2>
    <h2 class="sub-title">We'll take care of everything you need to cook an amazing kosher meal.</h2>
    <div class="button-wrapper">
      <a href="#" class="btn btn-grey">Sign Up</a>
    </div>
 </div>
</div>
