<%= render "shared/banner" %>

<div class="container">
  <h1 class="my-5" style="text-align: center "><strong>How it works?</strong></h1>
  <div class="d-flex justify-content-between">
    <div class="card-why">
      <img src="<%=image_path "recipe.svg" %>" alt="Astronaut standing next to rocket on the moon.">
      <hr>
      <h3>Select a recipe</h3>
      <p>Meat, Seafood, Vegetarian – we’ve got lots of options to fit your food cravings. </p>
    </div>
    <div class="card-why">
      <img src="<%=image_path "delivery.svg" %>" alt="A group of friends clinking their beer bottles together.">
      <hr>
      <h3>Order ingredients online</h3>
      <p>Order the ingredients you need online, We'll deliver it straight to you! </p>
    </div>
    <div class="card-why">
      <img src="<%=image_path "chef.svg" %>" alt="A woman with her certificate.">
      <hr>
      <h3>Flexible</h3>
      <p>Follow steps to steps video instructions from our fav chefs, anytime and anywhere you want.</p>
    </div>
  </div>
</div>
  <!-- add 6 recipe cards + 4 chef examples -->
  <!--get code from recipes.index.html  -->
<div class="container">
  <h1 class="mt-5" style="text-align: center "><strong>Our picks</strong></h1>
  <p class="mb-5" style="color: #8D9DA7; font-weight: lighter; text-align: center">Delicious recipe we chose for you</p>
</div>


<div class="container grid-2">
  <% @recipes.take(8).each do |recipe| %>
    <%= render 'shared/card_recipe_home', recipe: recipe %>
  <% end %>
</div>


<div class="container mb-5">
  <h1 class="my-5"><strong>Meet our Star Chefs!</strong></h1>
  <div class="grid-3">
    <% 9.times do %>
      <%= render "shared/card_user", show_button: false  %>
    <% end %>
  </div>
</div>



<div class="start-cooking">
  <div class="container" style="position: relative; overflow: visible;">
    <h2 class="title">Start Cooking</h2>
    <h2 class="sub-title">We'll take care of everything you need to cook.</h2>
    <div class="button-wrapper">
      <button class="btn btn-grey"><%= link_to 'Start now', WeeklyIngredientList.find_by_id(1) %></button>
    </div>
  </div>
</div>


















