<div class="footer-sticky">
  <%= render "shared/banner" %>

  <div class="container-why">
    <h2 class="m-5">How it works?</h2>
    <div class="cards-why-container">
      <div class="card-why">
        <img src="<%=image_path "recipe.svg" %>" alt="Astronaut standing next to rocket on the moon.">
        <h3>Select a recipe</h3>
        <p>Meat, Seafood, Vegetarian – we’ve got lots of options to fit your food cravings. </p>
      </div>
      <div class="card-why">
        <img src="<%=image_path "delivery.svg" %>" alt="A group of friends clinking their beer bottles together.">
        <h3>Order ingredients online</h3>
        <p>Order the ingredients you need online, We'll deliver it straight to you! </p>
      </div>
      <div class="card-why">
        <img src="<%=image_path "chef.svg" %>" alt="A woman with her certificate.">
        <h3>Flexible</h3>
        <p>Follow steps to steps video instructions from our fav chefs, anytime and anywhere you want.</p>
      </div>
    </div>
  </div>
    <!-- add 6 recipe cards + 4 chef examples -->
    <!--get code from recipes.index.html  -->
  <div class="banner-sml">
    <dir class="container sub-banner">
      <h1>Find what makes your mouth water...</h3>
    </dir>
  </div>

  <div class="container parent">
    <% 6.times do  %>
      <%= render "shared/card_recipe" %>
      <% end  %>
  </div>

  <div class="banner-sml">
    <div class="container sub-banner">
      <h1>Meet our Star Chefs!</h1>
    </div>
  </div>

  <div class="container">
    <div class="card-deck" style="padding:84px;">
      <% 3.times do%>
       <%= render "shared/card_user", show_button: false  %>
      <% end %>
    </div>
  </div>
</div>
